/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.post {
  border: 1px solid #000;
  border-radius: 5px;
  width: 60%;
  margin: 30px auto;
  height: 600px;
  font-family: serif;
  background-color: lightblue;
}
.new_post {
  text-align: center;
  margin-top: 40px;
}
.form {
  margin: 20px auto;
  text-align: center;
}
.form_title {
  height: 50x;
  margin: 0 auto;
  width: 70%;
}
.field_title {
  height: 50px;
  width: 80%;
  margin-bottom: 10px;
  font-size: 20px;
}
.form_place {
  height: 50x;
  margin: 0 auto;
  width: 70%;
}
.field_place {
  height: 50px;
  width: 80%;
  margin-bottom: 10px;
  font-size: 20px;
}
.form_content {
  height: 240px;
  margin: 0 auto;
  width: 70%;
}
.field_content {
  width: 80%;
  margin-bottom: 10px;
  font-size: 20px;
}
.p_title {
  font-size: 18px;
}
.p_height {
  height: 250px;
}
.jump_link {
  bottom: 0;
  margin-top: 80px;
  position: relative;
}
.top {
  display: flex;
  justify-content: space-between;
}
header {
  height: 160px;
  padding: 20px 10px;
  background-color: lightgray;
  background-image: url(/images/book.jpeg);
}

.letter {
  font-size: 70px;
  margin: 0 auto;
  font-family: "Caveat", cursive;
  margin-bottom: 0;
  color: black;
  text-decoration: none;
}
.letter:hover {
  color: black;
  text-decoration: none;
}
.left-header {
  width: 500px;
}
.right-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.search-form {
  margin: auto 0;
}
.btn {
  height: 20px;
  display: inline-block;
  margin: 35px 20px 20px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  transition: 0.2s ease;
}
.form_image {
  margin-bottom: 20px;
}
.pic-size,
.books-image {
  width: 353px;
  height: 270px;
}
.box {
  margin: 50px;
  height: 500px;
}
.box-inner {
  margin: auto;
  font-family: serif;
  border: 1px solid #000;
  border-radius: 5px;
  width: 30%;
  height: 400px;
  font-size: 19px;
}
.form__btn {
  margin-top: 20px;
}
.box_width {
  width: 80%;
}
.box-login {
  margin: 20px 0;
}
.upper {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  font-family: serif;
  padding: 0 40px;
  height: 120px;
}
.right {
  display: flex;
  margin: auto 0;
  font-size: 20px;
}
.right_edit {
  margin-right: 20px;
}
.left {
  height: 120px;
  width: 139px;
  font-size: 20px;
  font-size: 25px;
  margin-top: 30px;
}
.name_cl {
  font-size: 30px;
}
.back {
  margin-top: 100px;
}
.box_spe {
  padding: 20px;
}

.image_size {
  height: 450px;
  width: 550px;
  margin-left: 30px;
}
.left-show {
  width: 50%;
}
.right-show {
  width: 50%;
}
.all-show {
  display: flex;
  height: 500px;
  font-family: serif;
}
.pic {
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.place-size {
  font-size: 21px;
}
.card-body {
  max-width: 350px;
}
.content-size {
  font-size: 18px;
}
.element {
  display: flex;
  text-align: center;
  margin: 0 auto;
}
.editer {
  width: 200px;
  margin: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  height: 30px;
  color: white;
  background-color: green;
}
.destroy {
  width: 200px;
  margin: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  color: white;
  background-color: red;
}
.center {
  text-align: center;
  display: flex;
  margin: 0 auto;
}
.title_plus {
  font-size: 24px;
}
.comment_form {
  height: 50px;
  font-family: serif;
}
.comment_text {
  width: 100%;
  font-size: 20px;
  border: 2px solid rgb(216, 202, 202);
  border-radius: 5px;
}
.btn_comment {
  width: 100%;
  border-radius: 10px;
  background: rgb(98, 53, 156);
  height: 50px;
}
.comment-boss {
  width: 100%;
  margin: 0 auto;
}
.comments {
  float: left;
  height: 340px;
}
.comments {
  font-size: 20px;
  font-family: serif;
  text-align-last: left;
  width: 100%;
  margin-top: 80px;
  overflow: scroll;
}
.border {
  border: 1px solid #000;
  width: 800px;
  height: 500px;
  text-align: center;
  margin: 0 auto;
}
.bload {
  margin-top: 30px;
}
.input-search {
  width: 600px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid lightgray;
  font-size: 19px;
}
.boss {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.btn-search {
  height: 50px;
  border-radius: 20px;
  width: 100px;
  background: lightblue;
  color: white;
  border: 1px solid lightblue;
}
.title_plus {
  height: 60px;
  max-width: 320px;
  font-size: 24px;
}
.content_plus {
  height: 100px;
  max-width: 320px;
  font-size: 13px;
}
.add {
  margin-left: 40px;
}
.lower {
  width: 100%;
}
.heart {
  display: flex;
  margin-left: 500px;
}
.like_user {
  font-size: 20px;
}
.like_already {
  margin-left: 20px;
}
.like_btn {
  border: none;
  background-color: #fff;
}
.btn_alert {
  color: red;
  font-size: 20px;
}
.length {
  font-size: 20px;
}
.right_square {
  max-width: 700px;
}
.inner1 {
  height: 30px;
}
.inner2 {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}
.inner1 {
  height: 150px;
}
.square_inner {
  border: 1px solid #000;
  height: 450px;
  border-radius: 6px;
}
.pic_large {
  height: 350px;
  width: 400px;
}
.content_spe {
  height: 200px;
  margin: 30px 90px;
  word-wrap: break-word;
}
.box_size {
  height: 430px;
}
.title_font {
  font-size: 23px;
  word-wrap: break-word;
}
.featurette {
  font-family: serif;
  font-size: 20px;
}
.flame {
  width: 700px;
  margin: 0 auto;
}
.flame_image {
  width: 600px;
  height: 430px;
}
.flame_content {
  height: 140px;
  word-wrap: break-word;
  font-family: serif;
  font-size: 20px;
}
.flame_place {
  height: 30px;
  word-wrap: break-word;
  font-size: 18px;
  font-family: serif;
  color: green;
}
.flame_title {
  height: 60px;
  word-wrap: break-word;
  color: blue;
  font-size: 20px;
  font-family: "Bangers", cursive;
}
.pic_large {
  margin-bottom: 40px;
}
.each_title {
  text-align: center;
  font-size: 36px;
}
.user_index {
  padding: 0 50px;
}
